.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
node_modules
frontend/node_modules
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.git
.gitignore
.DS_Store
*.sqlite3
*.db
*.log
coverage
build
dist
**/dist
.static
